// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#app-layout { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#app-layout1 { 
	backgrund-color: white !important;

  body {
  background-color: white;
  }
}
h1, h2, h3, h4, h5, h6, p, a{
	font-family: 'Didact Gothic', sans-serif !important;
}

.art_image {
	background: url('img/art_images/image_unavailable.png');
	min-height: 50px;
}

.navbar-default {
	background-color: white;
	border: 0;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #dfdfdf;
}

.navbar {
	min-height: 75px !important;
	padding-top: 10px !important;
	margin-bottom: 0px !important;
	border-bottom: 1px #dfdfdf solid;
}

.nav > a {
	color: white !important;
}

.navbar-header {
	color: white;
}

.panel-heading {
	display: none;
}

h2 {
	color: white;
}

#search-container {
	background-color: white;
	padding: 20px;
}

.login-button {
	padding: 10px 30px; 
	border: black 1px solid;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'Didact Gothic', sans-serif;
	margin-top: 20px;
	color: black !important;

	&:hover {
	background-color: #dfdfdf;
	}
}

.panel {
	top: 150px;	
}

.btn-info {
    color: #000; 
    background-color: #fff; 
    border: 1px black solid; 
    font-famiy: 'Didact Gothic', sans-serif !important;
}

.btn-info:hover {
    color: white;
    background-color: black;
    border-color: #000;
}

.btn-danger {
	float: right; 
	margin-top: -34px; 
	margin-right: -10px;
	z-index: 400;
}

.centered {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}


.search-body {
	background-color: white;
	border: 0;
	opacity: 1;
}

.search-text {
	color: black;
}

.table-text {
	font-family: Georgia;
}

.letter-index  {
	margin-top: 10px;
	margin-bottom: 10px;
}

.letter-index > a {
	margin-left: 15px;
  margin-right: 15px;
}

.thumbnail {
	max-width: 100px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: black;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

@media (max-width: 650px) {
  .search-container {
    width: 300px !important;
  }

  .drilldown-image {
  width: 300px !important;
  display: block;
  margin: 0 auto;
  }
}

.table-text a:hover {
  text-decoration: none;
  color: blue !important;
}

  body{
   background-color: #000000;
   padding: 0px;
   margin: 0px;
 }

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

.see-details-btn:hover {
  color: purple !important;
  }